body, canvas {
	background-color: black;
}

/*Must have a defined with and height*/
.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

#content {
	width: 500px;
	height: 500px;
}

#cvs {
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	color: white;
	font-family: "Trebuchet MS";
	font-size: 24px;
	text-align: center;
	margin: auto;
	display: block;
}

.scoreText {
	font-size: 22px;
	display: none;
	text-align: inherit;
	position: absolute;
	left: 0px;
	top: 0px;
}
.red {
	color: #f00;
}
.green {
	color: #0f0;
}